<h1 class="navbar__logo">Music DB</h1>

<ul class="" routerLinkActive="active">
  <li class="navbar__item"><a routerLinkActive="active-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
    true}">Dashboard</a></li>
  <li class="navbar__item"><a routerLinkActive="active-link" routerLink="library/songs">Library</a></li>
  <li class="navbar__item"><a routerLinkActive="active-link" routerLink="search">Search</a></li>
</ul>

<div class="navbar__sep"></div>

<span class="navbar__header">Recent Playlists</span>
<ul>
  <li class="navbar__item">Playlist 1</li>
  <li class="navbar__item">Playlist 2</li>
  <li class="navbar__item">Playlist 3</li>
</ul>
