@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
}

.app {
  @apply flex h-screen;
}

.navbar {
  @apply w-64 p-6 h-full shadow;

  h1.navbar__logo {
    @apply uppercase font-bold mb-3;
  }

  .navbar__item a {
    @apply my-2;

    &.active-link {
      border-bottom: 1px solid black;
    }
  }

  .navbar__header {
    @apply uppercase mb-3 block;
    font-weight: 300;
  }

  .navbar__sep {
    @apply my-6;
    border-bottom: 2px solid black;
  }
}

.app__content {
  @apply w-full p-6 h-full;
}

.library-nav {
  @apply flex w-1/2 mx-auto text-center justify-between;

  .library-nav__item {
    @apply mx-3 uppercase;
  }
}


.artist-card {
  &.artist-card__wrapper {
    @apply w-1/3 h-64 p-6;
  }

  .artist-card__inner {
    @apply bg-cover bg-center !important;
    @apply text-white relative block shadow;

    &:before {
      @apply w-full h-full block absolute;
      content: '';
      background-color: rgba(55, 55, 55, 0.8);
    }

    &:hover {
      @apply shadow-focus;
      transform: scale(1.01);

      .artist-card__title {

      }
    }
  }

  .artist-card__title {
    @apply relative text-center;
    font-size: 18px;
    font-weight: 700;
    top: 40%;
  }
}

